@mixin divBox {
  box-shadow: 0px 0px 10px rgb(101, 6, 165) inset;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
.header {
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  @include divBox();
  background-image: url("https://wallpaperaccess.com/full/187161.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  h3 {
    margin-top: 10vh;
    @include divBox();
    background-color: white;
    height: 8vh;
    border-radius: 20px;
    padding: 5px;
    font-size: 3vw;
  }
  h1 {
    margin-top: 5vh;
    font-size: 5vw;
    @include divBox();
    border-radius: 20%;
    height: 14vh;
    color: rgba(255, 255, 255, 0.541);
  }
  h1:hover{
    box-shadow: 0px 0px 30px #7909c4;
    color: rgb(255, 255, 255);
  }
  h3:hover{
    background-color: rgb(255, 0, 200);
    box-shadow: 0px 0px 30px #7909c4;
    color: white;
  }
}
.main {
  background-color: white;
  top: 35vh;
  display: flex;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  z-index: 0;
}
.cBox {
  @include divBox();
  height: 150px;
  width: 250px;
  margin: 40px;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  position: relative;
}
.cBoxMore {
  justify-content: space-evenly;
  height: 70px;
  width: 250px;
  box-shadow: 0px 0px 10px #7909c4 inset;
  top: 100%;
  left: 0;
  position: absolute;
  border-radius: 0 0 20px 20px;
  display: none;
  flex-wrap: wrap;
}
.cSearch {
  margin-top: 20vh;
  height: 5vh;
  width: 10vw;
  border-radius: 20px;
}
.cIMG {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 0;
}
.cToggle {
  visibility: hidden;
  font-size: 40px;
  cursor: pointer;
}
.cToggle:before {
  content: "\2606";
  position: absolute;
  right: 5px;
  top: 5px;
  visibility: visible;
}
.cToggle:checked:before {
  content: "\2605";
  color: yellow;
  position: absolute;
}
.popDiv {
  box-shadow: 0px 0px 40px #7909c4 ;
  height: 40vh;
  width: 30vw;
  position: absolute;
  top: 50%;
  justify-content: space-evenly;
  background-color: white;
  z-index: 2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  button{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    border: none;
    background-color: transparent;

  }
  button:hover{
    color: white;
    font-size: 23px;
  }
  h3{
    margin-top: 10px;
    margin-left: 15px;
  }
}
.lvCoin {
  height: 30vh;
  width: 28vw;
}
.imgPos {
  position: relative;
  left: 10px;
  display: flex;
  height: 60vh;
  width: 20vw;
  box-shadow: 0px 0px 10px #7909c4;
  border-radius: 20px;

  img {
    border-radius: 20px;
    height: 60vh;
    width: 20vw;
  }
}
.aboutDiv {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  box-shadow: 0px 0px 10px #7909c4;
  height: 60vh;
  position: relative;
  border-radius: 20px;
  flex-direction: row;
}
.cInfo {
  position: absolute;
  top: 110px;
  left: 10px;
  background-color: #7909c4;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  width: 150px;
}
.cInfo:hover {
  background-color: #9d51cf;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.loader-container{
  background-color: #111;
  width: 250px;
  position: absolute;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 10px #7909c4 inset;
}

.loader{
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #9d51cf;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader{
  25%{
      color: #b31dc7;
  }
  50%{
      color: #990680;
  }
  75%{
      color: #69183e;
  }
  to{
      transform: rotate(360deg);
  }
}
.blackbg{
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 1000vh;
  z-index: 1;
  opacity: 0.7;

}
#favdata{
  height: 28px;
  width: 100%;
  box-shadow: 0px 0px 5px #6e21a1;
  position: relative;
  border-radius: 20px;
}
#favdata:hover{
  box-shadow: 0px 0px 10px #8c21a1;
  background-color: #9370d8;
  color: white;
 
}
.loadersc{
  background-color: transparent;
  width: 90vw;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 10px #7909c4 inset;
  overflow-y: hidden;
}

.loaderanim{
  width: 350px;
  height: 350px;
  border: 5px solid;
  color: #9d51cf;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}